/* *{
  margin: 0;
  padding: 0;
} */


.header {
  display: flex;  
  justify-content: space-between;
  border: 1px solid black;
  padding-right: 60px;
  align-items: center;
}
.logo{
  width: 120px;
}
.lists {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 20px;
}
.body{
  /* height: 60vw; */
  border: 1px solid black;
  margin-top: 5px;
  /* display: flex; */
}
.res-card{
  width: 200px;
  border: 1px solid black;
  /* padding: 5px ; */
  /* margin-right: 10px; */
  background-color: rgb(252, 225, 229);
  margin-bottom: 10px;
  position: relative;
  border-radius: 10px;
  
 
}
.card-logo{
  width: 100%;
  height: 220px;
  border-radius: 10px;
}
.res-container{
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.rating{
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: -15px;
}
.shimmer-card{
  width: 190px;
  height: 220px;
  /* border: 1px solid black; */
  padding: 5px ;
  /* margin-right: 10px; */
  background-color: #f0f0f0;
  margin-bottom: 10px;
  position: relative;
}
.rating-img {
  width: 45px;
  height: 45px;
  border: 1px solid black;
  z-index: 1;
}
.login-btn {
  padding: 10px 19px;
  cursor: pointer;
}
.search-div {
  display: inline-flex;
  margin: 10px;
  gap: 6px;
}
.btn {
  display: inline-block;
  margin-left: 811px;
}
.res-card-info{
  padding-left: 10px;
}
